@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
h1 {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

body {
  margin: auto;
  max-width: 1440px;
}

header {
  display: flex;
  align-items: center;
  height: 63px;
  margin: 0 5%;
}
header .logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
header .logo img {
  width: 162px;
}

footer {
  background-color: #353535;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    height: 114px;
    align-items: center;
  }
}
footer img {
  width: 100px;
  filter: invert(100%);
  margin: 22px 0 0 25px;
}
@media screen and (min-width: 768px) {
  footer img {
    margin: 0 100px 0 0;
  }
}
footer ul {
  color: #fff;
  list-style-type: none;
  padding-left: 0;
  margin: 19px 0 0 25px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  footer ul {
    display: flex;
    flex-direction: row;
    margin: 0 40px 0 0;
    padding-bottom: 0;
  }
}
footer ul li {
  padding-bottom: 6px;
}
@media screen and (min-width: 768px) {
  footer ul li {
    margin-right: 40px;
  }
}
footer ul li i {
  margin-right: 10px;
}

.loader {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
.loader__dot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #000;
  margin: 0 15px;
  animation: loader 10 0.3s alternate;
}

.d1 {
  background: #9356DC;
}

.d2 {
  background: #FF79DA;
  animation-delay: 0.05s;
}

.d3 {
  background: #99E2D0;
  animation-delay: 0.1s;
}

@keyframes loader {
  100% {
    transform: translateY(-30px);
  }
}
.content {
  animation: content 0ms 3s both;
}

@keyframes content {
  0% {
    transform: translateX(-9999px);
  }
  100% {
    transform: translateX(0);
  }
}
.location {
  display: flex;
  justify-content: center;
  height: 50px;
  background-color: #EAEAEA;
  box-shadow: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.02);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  width: 100%;
}
.location i {
  padding-right: 17px;
}

.reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  text-align: center;
  width: 100%;
  padding-bottom: 50px;
}
.reservation h1 {
  margin-top: 39px;
  margin-bottom: 10px;
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .reservation h1 {
    font-size: 40px;
  }
}
.reservation p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0 10px 27px 10px;
}
.reservation__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  opacity: 1;
  transition: all 300ms;
}
.reservation__button:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

.functioning {
  background: #fff;
  padding-bottom: 40px;
  width: 100%;
}
.functioning h1 {
  margin: 0 0 26px 5.3%;
  padding-top: 50px;
}
@media screen and (min-width: 768px) {
  .functioning h1 {
    margin: 0 0 26px 10%;
  }
}
.functioning .list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .functioning .list {
    flex-direction: row;
    justify-content: center;
    margin-left: 40px;
  }
}
.functioning .list__button {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: #f7F7F7;
  height: 72px;
  width: 322px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-bottom: 25px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  transition: opacity 500ms;
}
@media screen and (min-width: 768px) {
  .functioning .list__button {
    margin-right: 40px;
  }
}
.functioning .list__button:hover {
  background: #f5edff;
  cursor: pointer;
}
.functioning .list__button:hover i {
  color: #9356DC;
}
.functioning .list__button--number {
  width: 24px;
  height: 24px;
  background: #9356DC;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  position: relative;
  right: 11px;
}
.functioning .list__button i {
  padding-right: 24px;
  margin-left: 11px;
  color: #7E7E7E;
}

.restaurant {
  background: #f6f6f6;
  padding-bottom: 55px;
  width: 100%;
  overflow: hidden;
}
.restaurant h1 {
  margin: 0px 0 26px 5.3%;
  padding-top: 54px;
}
@media screen and (min-width: 768px) {
  .restaurant h1 {
    margin: 0 0 26px 10%;
  }
}
.restaurant .restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .restaurant .restaurants {
    flex-direction: row;
    margin-left: 10%;
  }
}
.restaurant__card {
  width: 335px;
  height: 251px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-bottom: 18px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .restaurant__card {
    margin-right: 3%;
  }
}
.restaurant__card a {
  text-decoration: none;
}
.restaurant__card img {
  object-fit: cover;
  width: 100%;
  height: 174px;
  border-radius: 15px 15px 0 0;
}
.restaurant__card__new {
  position: absolute;
  top: 12px;
  right: 10px;
  width: 80px;
  height: 29px;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #008766;
  font-size: 14px;
}
.restaurant__card__container {
  height: 77px;
  color: black;
  font-family: "Roboto", sans-serif;
  display: flex;
}
@media screen and (min-width: 768px) {
  .restaurant__card__container {
    margin-right: 25px;
  }
}
.restaurant__card__container--text h2 {
  font-weight: 700;
  font-size: 18px;
  margin: 10px 0 6px 13px;
  width: 270px;
}
.restaurant__card__container--text p {
  font-weight: 300;
  font-size: 17px;
  margin: 0 0 13px 13px;
}
.restaurant__card__container--like {
  display: flex;
  align-items: center;
}
.restaurant__card__container--like .empty {
  font-size: 23px;
  position: relative;
  display: flex;
  align-items: center;
}
.restaurant__card__container--like .empty .full {
  position: absolute;
  color: transparent;
  background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: opacity 500ms;
}
.restaurant__card__container--like .empty .full:hover {
  opacity: 1;
}

main {
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picture {
  position: relative;
  width: 100%;
}
.picture img {
  object-fit: cover;
  width: 100%;
  height: 275px;
}
@media screen and (min-width: 768px) {
  .picture img {
    height: 350px;
  }
}

.menu {
  background: #F6F6F6;
  border-radius: 30px 30px 0 0;
  position: relative;
  margin-top: -50px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .menu {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.menu__name {
  display: flex;
  align-items: center;
}
.menu__name h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  margin-left: 17px;
  margin-right: 35px;
}
.menu__name .empty {
  font-size: 23px;
  position: relative;
  display: flex;
  align-items: center;
}
.menu__name .empty .full {
  position: absolute;
  color: transparent;
  background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: opacity 500ms;
}
.menu__name .empty .full:hover {
  opacity: 1;
  cursor: pointer;
}
.menu__dishes {
  margin-left: 13px;
  animation: dishes 2s ease-out 0s both;
}
@media screen and (min-width: 768px) {
  .menu__dishes {
    width: 80%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.menu__dishes__title {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .menu__dishes__title {
    margin-left: 5%;
  }
}
.menu__dishes__title h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  width: 40px;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
}
.menu__dishes__button {
  width: 95%;
  height: 68px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.menu__dishes__button:hover .menu__dishes__button__animation {
  transform: translateX(-59px);
}
.menu__dishes__button--text {
  margin-left: 10px;
}
.menu__dishes__button--text h3 {
  font-weight: 500;
  margin: 0 0 5px 0;
}
.menu__dishes__button--text p {
  font-weight: 300;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 280px;
}
.menu__dishes__button__animation {
  display: flex;
  align-items: center;
  position: relative;
  left: 59px;
  height: 69px;
  transition: transform 1s;
  transform: translateX(0);
}
.menu__dishes__button__animation--price {
  margin-top: 30px;
  margin-right: 17px;
}
.menu__dishes__button__animation--validation {
  width: 59px;
  height: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
}
.menu__dishes__button__animation--validation .check {
  color: #fff;
  font-size: x-large;
}

@keyframes dishes {
  0% {
    transform: translateX(-2000px);
  }
  100% {
    transform: translateX(0);
  }
}
.entrees {
  animation-delay: 0s;
}

.plats {
  animation-delay: 1s;
}

.desserts {
  animation-delay: 2s;
}

.order {
  display: flex;
  justify-content: center;
  padding: 35px 0 40px 0;
}
.order__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  width: 186px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  opacity: 1;
  transition: opacity 300ms;
}
.order__button:hover {
  opacity: 0.8;
}

/*# sourceMappingURL=style.css.map */
