header {
    display: flex;
    align-items: center;
    height: 63px;
    margin : 0 5%;

    & .logo { 
        width: 100%;
        display: flex;
        justify-content: center;

        & img {
            width: 162px;
        }
    }
}