.loader {
   width: 100%;
   height: 100%;
   position: absolute;
    display: flex;
   justify-content: center;
   align-items: center;
   background: white;

   &__dot {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #000;
    margin: 0 15px;
    animation: loader 10 $loader-delay alternate;
   }
}

.d1 {
    background: $primary-color;
}

.d2 {
    background: $secondary-color;
    animation-delay: 0.05s;
}

.d3 {
    background: $tertiary-color;
    animation-delay: 0.1s;
}

@keyframes loader {
    100% {
        transform: translateY(-30px);
    }
}

.content {
    animation: content 0ms $content-delay both ;
}

@keyframes content {
    0% {
        transform: translateX(-9999px);
    }

    100% {
        transform: translateX(0);
    }
}